
  <div>
    <img src="/assets/about.jpg" width="100%">
  </div>
  
<div class="row">
<div class="col-2 col-md-3"></div>
<div class="col-8 col-md-6">
    

<h1 class="text-center pt-5 pb-5 mb-3 mt-3">A B O U T</h1>


<p style="font-size:14px;" class="pb-5" >
神戸市出身<br>
ruby on rails を勉強中<br>
成長スピードに自身があります<br>
ぜひ採用してください！
</p>


<div class="row pt-4">
<div class="col-sm-5">
<img src="/assets/profile.jpg"  height="150">
</div>
<table class="col-sm-7" style="font-size:15px;">
    <tr>
        <td>　</td>
    </tr>
    <tr>
        <td class="font-weight-bold">名前：</td>
        <td>今井　朗弘</td>
    </tr>
    <tr>
        <td class="font-weight-bold">年齢：</td>
        <td>２０</td>
    </tr
    <tr>
        <td class="font-weight-bold">所在：</td>
        <td>東京都</td>
    </tr>
    <tr>
        <td class="font-weight-bold">連絡：</td>
        <td>sininoti4@gmail.com</td>
    </tr>
    <tr>
        <td class="font-weight-bold">資格：</td>
        <td>普通自動車第一種免許取得</td>
    </tr>
</table>

<div class="pt-5 pb-5">
<table class="table ml-3 mt-5" style="font-size:14px;">
    <tr>
        <td class="font-weight-bold">Qitta：</td>
        <td>https://qiita.com/sininoti4</td>
    </tr>
    <tr>
        <td class="font-weight-bold">Github：</td>
        <td>https://github.com/sininoti4</td>
    </tr>
    <tr>
        <td class="font-weight-bold">Twitter：</td>
        <td>https://twitter.com/sininoti4</td>
    </tr>
    
</table>
</div>


</div>






</div>
<div class="col-2 col-md-3"></div>
</div>