      <div>
        <img src="/assets/resume.jpg" width="100%">
      </div>


<style type="text/css">
<!--
.image {background-color: #fff;}

.image img:hover {
          opacity:0.8;
          position:relative;
          bottom:1px;
          left:1px;
          box-shadow: -2px 2px 8px gray;
}
-->
</style>

<div class="row">
<div class="col-1"></div>
<div class="col-10">

<h1 class="text-center pb-5 pb-5 pt-5 mt-3">R E S U M E</h1>


<table class="table">
          
          <tr><td class="pt-5">
          <a href="http://www.rokkogakuin.ed.jp/public_html/" class="image" target="_blank">
          <img src="/assets/rokko.png" class="border" width="100%" hight="auto">
          </a>
          <p class="font-weight-bold pb-3 pt-5">
          六甲学院中学高等学校卒
          <p class="pb-5">
          ・偏差値７０<br>
          ・６年間皆勤<br>
          ・中高一貫<br>
          ・兵庫県立大学中退（１ヶ月）
          
          </p>
          </td></tr>
          
          <tr><td class="pt-5">
          <a href="https://www.apple.com/jp/support/products/iphone.html" class="image" target="_blank">
          <img src="/assets/Apple.png" class="border" width="100%" hight="auto">
          </a>
          <p class="font-weight-bold pb-3 pt-5">
          株式会社トランコスモス
          </p>
          <p class="pb-5">
          ・コールセンター（Apple Care）<br>
          ・契約社員<br>
          ・２０１８　４月〜１２月<br>
          ・工場、居酒屋（アルバイト）を経験後に就職<br>
          </p>
          </td></tr>

</table>



</div>
<div class="col-1"></div>
</div>